h4{
    text-align: justify;
    text-indent: 30px;
}
.like{
    width: 25Px;
    height: 25Px;
    float:left;
    margin-top: -5Px;
}
p{
    height: 25Px;
}
h1>a{
    color: #0f0f0f;
}

h1>a:hover{
    color: #843534;
}

.art{
    -webkit-box-shadow: 10px 10px 77px 20px #000000;
box-shadow: 10px 10px 77px 20px #000000;
    margin-bottom: 50Px;
    background-color: rgba(152, 131, 67, 0.84);
    border-radius: 20Px;
}
img{
    width: 480Px;
    height: 250px;
}

textarea{
    max-width: 50%;
}

.logo{
    width: 40Px;
    height: 40Px;
    margin-top: 10%;
    margin-lft: -50%;
}